In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
X = pd.get_dummies(df, columns=['home_ownership', 'issue_d','verification_status', 
                'initial_list_status','pymnt_plan', 'next_pymnt_d', 'application_type', 'hardship_flag', 
                'debt_settlement_flag']).drop("loan_status", axis=1)

# Create our target
y = df["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,initial_list_status_f,initial_list_status_w,pymnt_plan_n,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.148001,0.123879,0.876121,1.0,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.355104,0.329446,0.329446,0.0,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,1.000000,1.0,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,1.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [8]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

print(Counter(y_train))
print(Counter(y_test))

Counter({'low_risk': 51352, 'high_risk': 260})
Counter({'low_risk': 17118, 'high_risk': 87})

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [10]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
print(acc_score)

0.9009009009009009

In [12]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])

cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                   59                  28
Actual low_risk                  1677               15441

In [13]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.68      0.90      0.06      0.78      0.60        87
   low_risk       1.00      0.90      0.68      0.95      0.78      0.63     17118

avg / total       0.99      0.90      0.68      0.94      0.78      0.63     17205

In [14]:
# List the features sorted in descending order by feature importance
features_rank = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
for feature in features_rank:
    print(f"{feature[1]}: ({feature[0]})")

total_rec_prncp: (0.07750231744198227)
total_pymnt: (0.06068555169087141)
total_rec_int: (0.05827540533643326)
total_pymnt_inv: (0.05351140935039228)
last_pymnt_amnt: (0.05289523108249248)
int_rate: (0.03081475098760461)
installment: (0.02031435953013489)
dti: (0.018693999322970882)
out_prncp: (0.01785276490102749)
annual_inc: (0.017751146328241194)
mths_since_recent_inq: (0.017230533306851356)
bc_util: (0.017136162819946982)
max_bal_bc: (0.01693755810986627)
issue_d_Jan-2019: (0.01612989731415085)
out_prncp_inv: (0.015546035161836962)
avg_cur_bal: (0.015029966296888133)
all_util: (0.014829569938983557)
tot_cur_bal: (0.014741035526284934)
mo_sin_old_rev_tl_op: (0.014458689588148887)
revol_bal: (0.014043182229870594)
bc_open_to_buy: (0.013612259947451901)
total_bc_limit: (0.013593507739331764)
total_bal_ex_mort: (0.01339859444032166)
il_util: (0.012884552284817176)
mths_since_recent_bc: (0.012573365520946234)
mths_since_rcnt_il: (0.012320344133600853)
total_rev_hi_lim: (0.012308166992944547)
tot_hi_cred_lim: (0.012224014859879777)
issue_d_Mar-2019: (0.011965662590924775)
mo_sin_old_il_acct: (0.011945620006475992)
total_il_high_credit_limit: (0.011850926095284629)
loan_amnt: (0.011670848545412935)
mo_sin_rcnt_rev_tl_op: (0.011303348318238706)
num_op_rev_tl: (0.01065468516863704)
num_actv_rev_tl: (0.010111801247157303)
num_sats: (0.010007592331195038)
total_bal_il: (0.00999771179307554)
pct_tl_nvr_dlq: (0.009852062841705563)
num_bc_tl: (0.009816584244173462)
num_actv_bc_tl: (0.009767775032907784)
total_acc: (0.00976526509728904)
open_acc: (0.00969322561395715)
num_rev_accts: (0.009040028109532095)
mo_sin_rcnt_tl: (0.008889509031406078)
num_bc_sats: (0.008695024756522908)
num_il_tl: (0.008530495513881893)
inq_last_12m: (0.008392211540796557)
num_rev_tl_bal_gt_0: (0.008330501076952613)
percent_bc_gt_75: (0.007844149103665914)
open_act_il: (0.007522599825616388)
open_acc_6m: (0.007395053950696496)
total_cu_tl: (0.007321368064769811)
acc_open_past_24mths: (0.007137402922714454)
inq_fi: (0.006928188581111193)
open_il_24m: (0.006733340976164995)
mort_acc: (0.006270447604352723)
num_tl_op_past_12m: (0.005606153966183692)
inq_last_6mths: (0.005456925649484144)
open_il_12m: (0.005321756110192701)
total_rec_late_fee: (0.005195742745678803)
open_rv_24m: (0.005172473082175461)
open_rv_12m: (0.005075758105280873)
delinq_2yrs: (0.005027979078152703)
next_pymnt_d_May-2019: (0.0045526153857367345)
num_accts_ever_120_pd: (0.00364137796050807)
issue_d_Feb-2019: (0.0033994056353558403)
tot_coll_amt: (0.0033028666386570086)
verification_status_Source Verified: (0.0028090520614015655)
next_pymnt_d_Apr-2019: (0.0027951768250869375)
verification_status_Not Verified: (0.002139022280284254)
pub_rec_bankruptcies: (0.00209004042056425)
initial_list_status_w: (0.0020893995279483812)
verification_status_Verified: (0.0020326359116205526)
home_ownership_OWN: (0.0014473887206640555)
home_ownership_RENT: (0.0013315958281377093)
num_tl_90g_dpd_24m: (0.001277481588762339)
pub_rec: (0.0012500483714445784)
application_type_Individual: (0.0010052662107876795)
application_type_Joint App: (0.0009744899857805534)
initial_list_status_f: (0.0007693433558186105)
home_ownership_MORTGAGE: (0.0007418520459940747)
chargeoff_within_12_mths: (0.0004598648475693779)
home_ownership_ANY: (0.000238100318925954)
collections_12_mths_ex_med: (6.83851729109234e-05)
tax_liens: (0.0)
recoveries: (0.0)
pymnt_plan_n: (0.0)
policy_code: (0.0)
num_tl_30dpd: (0.0)
num_tl_120dpd_2m: (0.0)
hardship_flag_N: (0.0)
delinq_amnt: (0.0)
debt_settlement_flag_N: (0.0)
collection_recovery_fee: (0.0)
acc_now_delinq: (0.0)

### Easy Ensemble AdaBoost Classifier

In [15]:

# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
# Instantiate
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# Fit
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [16]:
# Calculated the balanced accuracy score
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9251352679776481

In [19]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])

cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                   79                   8
Actual low_risk                   989               16129

In [18]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.68      0.90      0.06      0.78      0.60        87
   low_risk       1.00      0.90      0.68      0.95      0.78      0.63     17118

avg / total       0.99      0.90      0.68      0.94      0.78      0.63     17205